attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.7.1
certifi==2019.3.9
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
decorator==4.4.1
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
incremental==17.5.0
lxml==4.3.3
moviepy==1.0.1
numpy==1.17.4
parsel==1.5.2
Pillow==5.4.1
proglog==0.1.9
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.7.2
pyOpenSSL==19.1.0
python-magic==0.4.15
queuelib==1.5.0
requests==2.21.0
Scrapy==1.8.0
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9
tqdm==4.40.2
Twisted==19.10.0
urllib3==1.24.1
w3lib==1.21.0
websocket-client==0.56.0
zope.interface==4.7.1
